apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-java-app
  labels:
    app: my-java-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-java-app
  template:
    metadata:
      labels:
        app: my-java-app
    spec:
      containers:
        - name: my-java-app
          image: ${ACR_LOGIN_SERVER}/my-java-app:${IMAGE_TAG}
          ports:
            - containerPort: 8080 
          envFrom:
            - secretRef:
                name: app-env-secret

          volumeMounts:
            - name: secrets-store-inline
              mountPath: "/mnt/secrets-store"
              readOnly: true
            
            - name: blob-storage-vol
              mountPath: "/app/logs"  
              readOnly: false         

      volumes:
        - name: secrets-store-inline
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "azure-kv-provider"

        - name: blob-storage-vol
          persistentVolumeClaim:
            claimName: blob-pvc-static  